<div class="container">
  <%= simple_form_for [@group, @list] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.submit "Edit list", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", group_lists_path(@group), class: "btn btn-info" %>
</div>
