<div class="header3">
  <%= link_to @previous_location, class: "button-back mb-3" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <h3 class="uppercase">Edit a list</h3>
</div>
<br>
<div class="container">
  <%= simple_form_for [@group, @list] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, input_html: { class: "border align-items-center border-radius form-control" } %>
    <%= f.submit "Edit list", class: "button" %>
  <% end %>
  <div class="d-flex m-2 justify-content-around" >
    <% if @list.user == current_user %>
      <%= link_to "Delete List", group_list_path(@group, @list), method: :delete, data: { confirm: "Are you sure?" },  class: "button", id: "button-color-light-blue" %>
    <% end %>
  </div>
  <br>
</div>
