<div class="header3">
  <h3><%= link_to "<", group_lists_path(@group), class: "rounded-circle px-2 bg-primary" %></h3>
  <h3 class="uppercase">Edit a list</h3>
</div>
<div class="container">
  <%= simple_form_for [@group, @list] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.submit "Edit list", class: "button" %>
  <% end %>
  <div class="d-flex m-2 justify-content-around" >
    <% if @list.user == current_user %>
      <%= link_to "Delete List", group_list_path(@group, @list), method: :delete, data: { confirm: "Are you sure?" },  class: "button", id: "button-color-light-blue" %>
    <% end %>

  </div>
  <br>
</div>
