<div class="header3">
  <%= link_to @previous_location, class: "button-back mb-3" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <div id="titles">
    <h3 class="uppercase"><%= link_to @group.name, edit_group_path(@group) %> <i class="fas fa-pencil-alt"></i></h3>
    <p id="subtitle">Lists</p>
  </div>
  <div class="mt-4 d-flex flex-column justify-content-center align-items-center">
    <div>
      <button type="button" class="button-plus-sm" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <p class="label-for-plus-btn">Add</p>
  </div>
</div>
<div class="d-flex m-2 justify-content-around">
  <%= link_to "Home", groups_path, class: "button-sm w-30" %>
  <%= link_to "Group Chat", group_path(@group), class: "button-sm w-30", id: "button-groupchat" %>
  <%= link_to "Expenses", group_expenses_path(@group), class: "button-sm w-30", id: "button-expenses" %>
</div>
<div class="scroll">
  <% @lists.each do |list| %>
    <%= link_to group_list_path(@group, list) do %>
      <% if list.photo.url.nil? %>
        <div class="card-banner">
          <h4><%= list.name %></h4>
        </div>
      <% else %>
        <div class="card-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo %>')">
          <h4><%= list.name %></h4>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= simple_form_for [@group, @list] do |f| %>
          <%= f.input :name, input_html: { class: "modal-title" } %>
          <div class="d-flex justify-content-between align-items-center">
            <p>📷 List Photo (Optional)</p>
            <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'modal-button-plus-sm'}, label: '+' %>
          </div>
          <%= f.submit "Create List", class: "modal-button", remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>


