<div class="header3">
  <h3><%= link_to "<", groups_path %></h3>
  <h3 class="uppercase">Lists <%= @group.name %></h3>
</div>
<% @lists.each do |list| %>
  <%= link_to group_list_path(@group, list) do %>
    <% if list.photo.url.nil? %>
      <div class="card-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?cs=srgb&dl=attractive-backdrop-background-988872.jpg&fm=jpg')">
        <h4><%= list.name %></h4>
      </div>
    <% else %>
      <div class="card-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo %>')">
        <h4><%= list.name %></h4>
      </div>
    <% end %>
  <% end %>
<% end %>
<br>
<br>
<%= link_to "Add a new list", new_group_list_path(@group), class: "btn btn-warning" %>
