<div class="header3">
  <%= link_to group_lists_path(@group), class: "button-back mb-3" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <div id="titles">
    <h3 class="uppercase"><%= link_to "#{@list.name}", edit_group_list_path(@group, @list) %><i class="fas fa-pencil-alt"></i></h3>
    <p id="subtitle">LIST</p>
  </div>
</div>

<%= render 'list_items/index' %>
<br>
<br>
<div class="d-flex align-items-center flex-column">
  <button type="button" class="button-plus-lg" data-toggle="modal" data-target="#exampleModalCenter">
    <i class="fas fa-plus"></i>
  </button>
  <p class="label-for-plus-btn">Add a new item</p>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= simple_form_for [@group, @list, @list_item] do |f| %>
          <%= f.input :title, input_html: { class: "modal-title" } %>
          <%= f.input :description, input_html: { class: "modal-title" } %>
          <div class="d-flex justify-content-between align-items-center">
            <p>📷 List Photo (Optional)</p>
            <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'modal-button-plus-sm'}, label: '+' %>
          </div>
          <%= f.submit "Add List Item", class: "modal-button", remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>

