<div class="header3">
  <%= link_to @previous_location, class: "button-back" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <div id="titles">
    <h3 class="uppercase"><%= link_to "#{@list.name}", edit_group_list_path(@group, @list) %> <i class="fas fa-pencil-alt"></i></h3>
    <p id="subtitle">List</p>
  </div>
  <div class="mt-4 d-flex flex-column justify-content-center align-items-center">
    <div>
      <button type="button" class="button-plus-sm" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <p class="label-for-plus-btn">Add</p>
  </div>
</div>
<div class="d-flex m-2 justify-content-around">
  <%= link_to groups_path, class: "navbuttons home" do %><i class="fas fa-home"></i><% end %>
  <%= link_to group_path(@group), class: "navbuttons chat" do %><i class="fas fa-comments"></i><% end %>
  <%= link_to group_lists_path(@group), class: "navbuttons list-live" do %><i class="fas fa-list-ul"></i><% end %>
  <%= link_to group_expenses_path(@group), class: "navbuttons expense" do %><i class="fas fa-money-bill-alt"></i><% end %>
</div>
<div class="scroll">
  <%= render 'list_items/index' %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content list_items-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= simple_form_for [@group, @list, @list_item] do |f| %>
          <%= f.input :title, input_html: { class: "modal-title" } %>
          <%= f.input :description, input_html: { class: "modal-title" } %>
          <%= f.input :url, input_html: { class: "modal-title" } %>
          <div class="d-flex justify-content-between align-items-center">
            <p>📷 List Photo (Optional)</p>
            <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'modal-button-plus-sm'}, label: '+' %>
          </div>
          <%= f.submit "Add List Item", class: "modal-button", remote: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
