<div class='container'>
  <br>
  <br>
  <h1 style="text-align: center; color: #54AFC3;">H A Z E</h1>
  <h3>Your Travel Companion</h3>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <% currencies = Currencies.find_currencies[0] %>
      <div class="mb-3">
        <label for="">Home Currency:</label>
        <select class="custom-select form-control input-border-blue" id="inputGroupSelect02" name="user[homecurrency]">
          <option>Set Home Currency:</option>
          <% currencies.each do |currency| %>
              <option name="user[homecurrency]" >
                <%= currency[:symbol] %>: <%= currency[:country] %>
              </option>
          <% end %>
        </select>
      </div>
      <%= f.input :photo, input_html: { class: "align-items-center border-radius form-control input-border-blue" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "button" %>
    </div>
  <% end %>
  <br>
  <div class='button' id="button-color-light-blue">
    <%= render "devise/shared/links" %>
  </div>
  <br>
  <br>
</div>

