<div class='container'>
  <h1>Sign up to Haze</h1>
  <h3>Your Travel Companion</h3>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
    <div class="form-inputs">
      <br>
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" }%>
                  <br>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
                  <br>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :photo %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "button w-100" %>
    </div>
  <% end %>
  <br>
  <div class='btn button w-100' id="button-color-light-blue">
    <%= render "devise/shared/links" %>
  </div>
</div>

