<div class="form container">
  <%= simple_form_for(@group) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.submit "Create group", class: "btn btn-primary", style: "width: 150px" %>
    <%= link_to "Back", groups_path, class: "btn btn-info" %>
  <% end %>
</div>
