<div class="header3">
  <%= link_to @previous_location, class: "button-back" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <h3 class="uppercase">Edit a group</h3>
</div>
<div class="form container">
  <br>
  <h5 style="color: #54AFC3;">Add Participants</h5>
  <%= form_tag edit_group_path(@group), method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Add a friend"
    %>
  <% end %>
  <br>
  <h5 style="color: #54AFC3;">Invite Friends Via Email!</h5>
  <%= form_tag groups_invite_path, method: :post do %>
    <%= text_field_tag :friend_email,
      params[:friend_email],
      class: "form-control",
      placeholder: "Enter Email Address"
    %>
    <%= hidden_field_tag :group_id, params[:id] %>
  <% end %>
  <br>
  <% @users.each do |u| %>
      <%= u.name %>, <%= u.email %>
      <%= link_to "Add to group", group_group_memberships_path(@group, user: u), method: :post, class: "button-sm" %>
  <% end %>
  <br>
  <h5 style="color: #54AFC3;">Group Members</h5>
  <% @group.group_memberships.each do |member| %>
    <%= member.user.name %>, <%= member.user.email %>
    <br>
  <% end %>
  <br>
  <div class="border-top">
    <br>
    <h5 style="color: #54AFC3;">Edit Group Profile!</h5>
    <%= simple_form_for(@group) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, input_html: { class: "border align-items-center border-radius form-control" } %>
      <%= f.submit "Edit group", class: "button" %>
    <% end %>
    <br>
  </div>
</div>
