<div class="header3">
  <h3><%= link_to "<", groups_path %> Edit a group</h3>
</div>
<div class="form container">
  <%= simple_form_for(@group) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.submit "Edit group", class: "btn btn-primary", style: "width: 150px" %>
  <% end %>
</div>
