<div class="header3">
  <h3 class="uppercase">Travel Groups</h3>
  <div class="mb-3">
    <%= link_to new_group_path, class: "button-plus-sm" do %>
    <i class="fas fa-plus"></i>
    <% end %>
  </div>
</div>
<% @groups.each do |group| %>
  <%= link_to group_path(group) do %>
    <% if group.photo.url.nil? %>
      <div class="card-banner">
        <h4><%= group.name %></h4>
      </div>
    <% else %>
      <div class="card-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path group.photo %>')">
        <h4><%= group.name %></h4>
      </div>
    <% end %>
  <% end %>
<% end %>
<br>
<div class="footer">
  <%= link_to "My Profile", user_path(current_user), class: "link-white" %>
</div>
