<div class="header3">
  <%= link_to @previous_location, class: "button-back mb-3" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <h3 class="uppercase">Create a new group</h3>
</div>
<br>
<div class="form container">
  <%= simple_form_for(@group) do |f| %>
    <%= f.input :name, placeholder: "Group name" %>
    <%= f.input :photo, input_html: { class: "border align-items-center border-radius form-control" } %>
    <%= f.submit "Create group", class: "button" %>
  <% end %>
</div>
