<div class="header3">
  <h3><%= link_to "<", groups_path %></h3>
  <h3 class="uppercase">Create a new group</h3>
</div>
<div class="form container">
  <%= simple_form_for(@group) do |f| %>
    <%= f.input :name, placeholder: "Group name" %>
    <%= f.input :photo %>
    <%= f.submit "Create group", class: "button" %>
  <% end %>
</div>
