<div class="header3">
  <h3 class="uppercase">My profile</h3>
</div>
<br>
<br>
<div class="container">
 <div class="d-flex flex-column align-items-center justify-content-center">
   <% if current_user.photo.url %>
    <%= cl_image_tag @user.photo, class: "avatar-large" %>
   <% else %>
    <h1 class="avatar-large nopic border text-center bg-success border-success p-4"> <%= current_user.name.first %> </h1>
   <% end %>
   <br>
   <br>
   <h5><%= @user.name %></h5>
   <h5><%= @user.email %></h5>
  <p>Your Home Currency: <%= @user.homecurrency %></p>
   <br>
   <p><%= link_to "Update Profile", edit_user_registration_path %></p>
   <p><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
  </div>
</div>
<div class="footer">
  <%= link_to "Groups", groups_path, class: "link-white" %>
</div>
