<div class="header3">
  <h3 class="uppercase">My profile</h3>
</div>

<%= @user.name %>
<%= @user.email %>
<div class="d-flex">
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary"%>
  <%= link_to "Update Profile", edit_user_registration_path, class: "btn btn-primary" %>
</div>

<div class="footer">
  <%= link_to "Groups", groups_path, class: "link-white" %>
</div>
