<% @list_items.each do |item| %>
<div class="card-product d-flex">
    <div>
      <% if !item.photo.nil? %>
        <%= cl_image_tag item.photo, crop: :fill %>
      <% end %>
    </div>
    <div class="card-product-infos flex-grow-1">
        <% if item.user == current_user %>
        <h2><%= link_to item.title, edit_group_list_list_item_path(@group, @list, item) %></h2>
        <p><%= item.description %></p>
        <% else %>
        <h2><%= item.title %></h2>
        <p><%= item.description %></p>
        <% end %>
    </div>
    <div class="icons">
      <div>
        <span id="upvote-<%= item.id %>"><%= item.upvote %></span>
        <%= link_to  upvote_list_item_path(item), remote: true, method: :post do %>
          <i class="far fa-thumbs-up"></i>
        <% end %>
      </div>
      <div>
        <span id="downvote-<%= item.id %>"><%= item.downvote %></span>
        <%= link_to  downvote_list_item_path(item), remote: true, method: :post do %>
          <i class="far fa-thumbs-down"></i>
        <% end %>
      </div>
    </div>
</div>
<% end %>
