<% @list_items.each do |item| %>
<div class="card-product d-flex align-items-center">
    <% if item.photo.url.nil? %>
      <div style="display: none;"></div>
    <% else %>
      <div>
        <%= cl_image_tag item.photo, crop: :fill %>
      </div>
    <% end %>
    <div class="card-product-infos flex-grow-1">
        <% if item.user == current_user %>
          <div>
            <h2>
              <%= link_to edit_group_list_list_item_path(@list.group, @list, item) do %>
                <%= item.title %> <i class="fas fa-pencil-alt"></i>
              <% end %>
            </h2>
            <p><%= item.description %></p>
            <p>Added by <%= item.user.name %></p>
          </div>
        <% else %>
          <div>
            <h2><%= item.title %></h2>
            <p><%= item.description %></p>
            <p>Added by <%= item.user.name %></p>
          </div>
        <% end %>
    </div>
    <div>
      <div class="d-flex mr-2">
        <span class="mr-1" id="upvote-<%= item.id %>"><%= item.upvote %></span>
        <%= link_to list_item_votes_path(item, upvote: true, list_id: item.list.id), remote: true, method: :post do %>
          <i class="far fa-thumbs-up"></i>
        <% end %>
      </div>
      <div class="d-flex mr-2">
        <span class="mr-1" id="downvote-<%= item.id %>"><%= item.downvote %></span>
        <%= link_to  list_item_votes_path(item, upvote: false, list_id: item.list.id), remote: true, method: :post do %>
          <i class="far fa-thumbs-down"></i>
        <% end %>
      </div>
    </div>
</div>
<% end %>
