<div class="container">
  <%= simple_form_for [@group, @list, @list_item] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.submit "Edit item", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Delete Item", group_list_list_item_path(@group, @list, @list_item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-info" %>
  <br>
  <%= link_to "Back", group_list_path(@group, @list) %>
</div>
