<div class="container">
  <%= simple_form_for [@list_item] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.submit "Edit item", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", list_item_path(@list_item), class: "btn btn-info" %>
</div>
