<div class="container">
  <%= simple_form_for [@group, @list, @list_item] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.submit "Create a new item", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", group_list_path(@group, @list), class: "btn btn-info" %>
</div>
