<div class="header3">
  <%= link_to group_list_path(@group, @list), class: "button-back mb-3" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <h3 class="uppercase">Add a new item</h3>
</div>
<br>
<div class="container">
  <%= simple_form_for [@group, @list, @list_item] do |f| %>
    <%= f.input :title %>
    <%= f.input :description, input_html: { style: 'border-color: #ECECEC' } %>
    <%= f.input :photo, input_html: { class: "border align-items-center border-radius form-control" } %>
    <%= f.submit "Create a new item", class: "button" %>
  <% end %>
</div>
