<div class="header3">
  <h3><%= link_to "<", group_list_path(@group, @list) %></h3>
  <h3 class="uppercase">Add a new item</h3>
</div>
<div class="container">
  <%= simple_form_for [@group, @list, @list_item] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.submit "Create a new item", class: "button" %>
  <% end %>
</div>
