<div class="header3">
  <%= link_to @previous_location, class: "button-back" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <div id="titles">
    <h3 class="uppercase"><%= link_to @group.name, edit_group_path(@group) %> <i class="fas fa-pencil-alt"></i></h3>
    <p id="subtitle">Expenses</p>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="mt-4">
      <%= link_to new_group_expense_path(@group), class: "button-plus-sm" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <p class="label-for-plus-btn">Add</p>
  </div>
</div>

<div class="d-flex m-2 justify-content-around">
  <%= link_to "Home", groups_path, class: "button-sm" %>
  <%= link_to "Group Chat", group_path(@group), class: "button-sm", id: "button-groupchat" %>
  <%= link_to "Lists", group_lists_path(@group), class: "button-sm", id: "button-lists" %>
</div>

<div class="d-flex m-2 justify-content-around btn btn-primary">
  Net Amount
</div>

<div class="scroll">
  <% @group.expenses.each do |expense| %>
    <div class="card-expenses">
      <div class="card-expenses-infos">
        <%= link_to edit_group_expense_path(@group, expense) do %>
          <p><%= expense.description %> <i class="fas fa-pencil-alt"></i></p>
          <h2>
            <%= expense.value %> <%= expense.currency.first(3) %>
          </h2>
        <% end %>
          <p>
            <% if expense.splits.size != 1 %>
              <button type="button" class="button-very-sm" data-toggle="modal" data-target="#exampleModalCenter_<%= expense.id %>">
                <%= expense.splits.size %> people </p>
              </button>
            <% else %>
              <button type="button" class="button-very-sm" data-toggle="modal" data-target="#exampleModalCenter_<%= expense.id %>">
              <%= expense.splits.size %> person</p>
              </button>
            <% end %>
      </div>

      <div class="card-expenses-split">
        <div>
          <% @paid = expense.splits.select { |p| p.paid? }.size %>
          <% expense.splits.each do |u| %>
            <% if u.user == current_user && u.paid == false %>
              <p id="color-red">You Owe: <br> <%= '%.2f' % (u.customsplit * u.expense.value) %> <%= u.expense.currency.first(3) %>
                <% if u.user.homecurrency.first(3) != u.expense.currency.first(3) %>
                  or <br> <%= '%.2f' % (u.homefxtranslation) %> <%= (u.user.homecurrency.first(3)) %></p>
                <% end %>
            <% elsif u.user == current_user && u.paid == true %>
              <p id="color-blue">You are owed:  <br> <%= '%.2f' % (((u.expense.value / @paid) - (u.expense.value * u.customsplit))) %> <%= u.expense.currency.first(3) %>
                <% if u.user.homecurrency.first(3) != u.expense.currency.first(3) %>
                  or <br> <%= '%.2f' % ((((u.expense.value / @paid) - (u.expense.value * u.customsplit))) / u.fx) %> <%= (u.user.homecurrency.first(3)) %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Modal for seeing who the expense is split between -->
<% @group.expenses.each do |expense| %>
  <div class="modal fade" id="exampleModalCenter_<%= expense.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <% expense.splits.each do |split| %>
            <p><%= split.user.name %></p>
          <% end %>
      </div>
    </div>
  </div>
<% end %>
